In [61]:
from pandas import Series,DataFrame
import pandas as pd

### pandas的两个数据结构Series和DataFrame
#### Series

In [104]:
#索引在左边，值在右边 
obj = Series([4,-7,3,4])
obj2 = Series([1,2,3,4],index = ['a','b','c','d'])
#可以通过字典来创建Series
data = {'Ohio':10000,'Texas':2000,'Oregon':16000,'Utah':5000}
obj3 = Series(data)
print obj
print obj2
print obj3

0    4
1   -7
2    3
3    4
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
Ohio      10000
Oregon    16000
Texas      2000
Utah       5000
dtype: int64

In [105]:
#可以用values和index属性获取 值(ndarrary)和索引(Index对象)
print obj.index
print obj.values
print type(obj.values)
print type(obj.index)

RangeIndex(start=0, stop=4, step=1)
[ 4 -7  3  4]
<type 'numpy.ndarray'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [106]:
#选取单个值或一组值
print obj2['a']
print obj2[['b','c','d']]

1
b    2
c    3
d    4
dtype: int64

In [107]:
#运算
print obj2*2
print obj2[obj2>2]

a    2
b    4
c    6
d    8
dtype: int64
c    3
d    4
dtype: int64

In [108]:
#Series看成是一个定长的有序字典
print 'a' in obj2
print 4 in obj2

True
False

In [111]:
#data会和index进行匹配，匹配到的会放到相应位置，'Califonia'没有匹配到，结果为NaN  'Utah' 不在index中，会被舍弃
stages = ['Califonia','Ohio','Texas','Oregon']
obj4 = Series(data,index = stages)
print data
print obj4

{'Ohio': 10000, 'Utah': 5000, 'Oregon': 16000, 'Texas': 2000}
Califonia        NaN
Ohio         10000.0
Texas         2000.0
Oregon       16000.0
dtype: float64

In [112]:
#用pandas的isnull notnull函数缺失数据
#Series也有类似的方法
print pd.isnull(obj4)
print pd.notnull(obj4)
print obj4.isnull()

Califonia     True
Ohio         False
Texas        False
Oregon       False
dtype: bool
Califonia    False
Ohio          True
Texas         True
Oregon        True
dtype: bool
Califonia     True
Ohio         False
Texas        False
Oregon       False
dtype: bool

In [113]:
#Series 会在算数运算中自动对齐不同索引数据
print obj3
print obj4
print obj3 + obj4

Ohio      10000
Oregon    16000
Texas      2000
Utah       5000
dtype: int64
Califonia        NaN
Ohio         10000.0
Texas         2000.0
Oregon       16000.0
dtype: float64
Califonia        NaN
Ohio         20000.0
Oregon       32000.0
Texas         4000.0
Utah             NaN
dtype: float64

In [114]:
# Series 对象本身及其索引都有一个name属性
obj4.name = 'population'
obj4.index.name = 'state'
print obj4

state
Califonia        NaN
Ohio         10000.0
Texas         2000.0
Oregon       16000.0
Name: population, dtype: float64

In [115]:
#索引可以通过赋值的方式就地修改
print obj
obj.index = ['z','x','y','c']
print obj

0    4
1   -7
2    3
3    4
dtype: int64
z    4
x   -7
y    3
c    4
dtype: int64

#### DataFrame是一个表格型的数据结构

In [117]:
#可以看成Series组成的字典（共用同一个索引）
data = {'stage':['Ohio','Ohio','Ohio','Nevada','Nevada'],
       'year':[2000,2001,2002,2003,2004],
       'pop':[1.4,2.7,5.4,2.3,9.9]}
frame = DataFrame(data)
print frame

   pop   stage  year
0  1.4    Ohio  2000
1  2.7    Ohio  2001
2  5.4    Ohio  2002
3  2.3  Nevada  2003
4  9.9  Nevada  2004

In [118]:
#按照指定顺序进行排序
print DataFrame(data ,columns=['year','stage','pop'])

   year   stage  pop
0  2000    Ohio  1.4
1  2001    Ohio  2.7
2  2002    Ohio  5.4
3  2003  Nevada  2.3
4  2004  Nevada  9.9

In [121]:
#和Series一样，传入的列数据找打不到，就会产生NA值  但是行  不行
frame2 = DataFrame(data,columns=['year','stage','pop','other'],index=['a','b','c','d','e'])
#frame2 = DataFrame(data,columns=['year','stage','pop','other'],index=['a','b','c','d','e','f']) 报错
print frame2

   year   stage  pop other
a  2000    Ohio  1.4   NaN
b  2001    Ohio  2.7   NaN
c  2002    Ohio  5.4   NaN
d  2003  Nevada  2.3   NaN
e  2004  Nevada  9.9   NaN

In [123]:
#columns、index属性
print frame2.columns
print frame2.index

Index([u'year', u'stage', u'pop', u'other'], dtype='object')
Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [124]:
#获得某一列
print frame2['year']
print frame2.stage

a    2000
b    2001
c    2002
d    2003
e    2004
Name: year, dtype: int64
a      Ohio
b      Ohio
c      Ohio
d    Nevada
e    Nevada
Name: stage, dtype: object

In [126]:
#获得某一行
print frame2.ix['c']

year     2002
stage    Ohio
pop       5.4
other     NaN
Name: c, dtype: object

In [80]:
import numpy as np

In [127]:
#给某一列赋值
frame2['other'] = 111
print frame2

   year   stage  pop  other
a  2000    Ohio  1.4    111
b  2001    Ohio  2.7    111
c  2002    Ohio  5.4    111
d  2003  Nevada  2.3    111
e  2004  Nevada  9.9    111

In [128]:
#给某一列赋值
frame2['other'] = np.arange(5.)
print frame2

   year   stage  pop  other
a  2000    Ohio  1.4    0.0
b  2001    Ohio  2.7    1.0
c  2002    Ohio  5.4    2.0
d  2003  Nevada  2.3    3.0
e  2004  Nevada  9.9    4.0

In [129]:
#如果赋值的是个Series,会精确匹配到DataFrame的索引，所有的空位都被填上空缺值
val = Series([-1.2,-3.4],index=['a','e'])
frame2['other'] = val
print frame2

   year   stage  pop  other
a  2000    Ohio  1.4   -1.2
b  2001    Ohio  2.7    NaN
c  2002    Ohio  5.4    NaN
d  2003  Nevada  2.3    NaN
e  2004  Nevada  9.9   -3.4

In [131]:
#为不存在的列赋值会创建出一个新列
frame2['other2'] = ''
print frame2

   year   stage  pop  other other2
a  2000    Ohio  1.4   -1.2
b  2001    Ohio  2.7    NaN
c  2002    Ohio  5.4    NaN
d  2003  Nevada  2.3    NaN
e  2004  Nevada  9.9   -3.4

In [132]:
frame2['other2'] = frame2.stage == 'Ohio'
print frame2

   year   stage  pop  other  other2
a  2000    Ohio  1.4   -1.2    True
b  2001    Ohio  2.7    NaN    True
c  2002    Ohio  5.4    NaN    True
d  2003  Nevada  2.3    NaN   False
e  2004  Nevada  9.9   -3.4   False

In [133]:
#删除列
del frame2['other']
print frame2.columns

Index([u'year', u'stage', u'pop', u'other2'], dtype='object')

In [134]:
#嵌套字典，外层的健作为列，内层的健作为行索引
pop = {'Neveda':{'b':1,'c':3},'Ohio':{1:1,'b':0,'c':0}}
frame3 = DataFrame(pop)
print frame3

   Neveda  Ohio
1     NaN     1
b     1.0     0
c     3.0     0

In [135]:
#转置
print frame3.T

          1    b    c
Neveda  NaN  1.0  3.0
Ohio    1.0  0.0  0.0

In [136]:
#由Series组成的字典
print frame3['Ohio'][:-1]
print frame3['Neveda'][:2]
pdata = {'Ohio':frame3['Ohio'][:-1],'Neveda':frame3['Neveda'][:2]}
print DataFrame(pdata)

1    1
b    0
Name: Ohio, dtype: int64
1    NaN
b    1.0
Name: Neveda, dtype: float64
   Neveda  Ohio
1     NaN     1
b     1.0     0

In [137]:
#index、columns的name属性
frame3.index.name = 'num'
frame3.columns.name = 'stage'
print frame3

stage  Neveda  Ohio
num
1         NaN     1
b         1.0     0
c         3.0     0

In [138]:
print frame3.values
print type(frame3.values)
print frame2.values
print type(frame2.values)

[[ nan   1.]
 [  1.   0.]
 [  3.   0.]]
<type 'numpy.ndarray'>
[[2000L 'Ohio' 1.4 True]
 [2001L 'Ohio' 2.7 True]
 [2002L 'Ohio' 5.4 True]
 [2003L 'Nevada' 2.3 False]
 [2004L 'Nevada' 9.9 False]]
<type 'numpy.ndarray'>

#### 注：pandas索引对象Index是不可修改的

In [141]:
#除了长的像数组，Index的功能也类似一个固定大小的集合
print frame3
print 'Ohio' in frame3.columns
print 'c' in frame3.index

stage  Neveda  Ohio
num
1         NaN     1
b         1.0     0
c         3.0     0
True
True